<h1 class="title"><i class="far fa-trash-alt"></i> 我的購物車</h1>

<%= link_to "清空購物車", cart_path, method: 'delete', class: 'button is-small is-light' if not current_cart.empty? %>

<%= render 'cart', cart: current_cart %>

<%= link_to '繼續選購', root_path, class: 'button is-info' %>
<%= link_to '我要結帳', '#', class: 'button is-info' if not current_cart.empty? %>